CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SUCCESS_STRIPE_URL=
CANCEL_STRIPE_URL=

AUTH_DATABASE_URL="mongodb+srv://<user>:<password>@auth-microservice-db.6ok3rnl.mongodb.net/AuthDB"